<div class="container page-settings">

    <div class="page-setting-element">
        <!--AdvertiserName-->
        <%- include('../helper/inputtext', {id:'fb-leadad-pagename', placeholder:'Your Page Name Here', label:'Page Name'})%>
    </div>
    <!--LOGO IMAGE SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Page Logo',imgInputId:'fb_setPageLogoImage', helptext:'Image resolution: 100 x 100px (.png .jpg .jpeg)'}) %>
    </div>

    <!--Ad Text-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="fb-leadad-text">Text</label>
            <div class="slds-form-element__control">
                <textarea id="fb-leadad-text" class="slds-textarea" placeholder="Your Text Here"></textarea>
            </div>
        </div>
    </div>

    <!--POST IMAGE SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Post Image',imgInputId:'fb_setPostImage', helptext:'Image resolution: 800 x 800px (.png .jpg .jpeg)'}) %>
    </div>

    <hr class="settingDividendLine" />

    <!--Ad Headline-->
    <div class="page-setting-element">
        <%- include('../helper/inputtext', {id:'fb-leadad-headline', placeholder:'Your Headline Here', label:'Headline'})%>
    </div>

    <!--Ad LinkDescription-->
    <div class="page-setting-element">
        <%- include('../helper/inputtext', {id:'fb-leadad-linkdescription', placeholder:'Your Link Description Here', label:'Link Description'})%>
    </div>
    <!--Ad LinkDescription-->
    <div class="page-setting-element">
        <%- include('../helper/inputtext', {id:'fb-leadad-caption', placeholder:'Your Website Link Here', label:'Website Link'})%>
    </div>
    <!--Ad CTA-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="fb-leadad-cta">Call To Action</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" id="fb-leadad-cta">
                        <option value="Learn More">Learn More</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr class="settingDividendLine" />
    <!--Reaction Number-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="fb-leadad-numberofreactions">Number of Reactions</label>
            <div class="slds-form-element__control">
                <input type="number" id="fb-leadad-numberofreactions" class="slds-input" placeholder="" />
            </div>
        </div>
    </div>

    <!--Comments Number-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="fb-leadad-numberofcomments">Number of Comments</label>
            <div class="slds-form-element__control">
                <input type="number" id="fb-leadad-numberofcomments" class="slds-input" placeholder="" />
            </div>
        </div>
    </div>

    <!--Shares Number-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="fb-leadad-numberofshares">Number of Shares</label>
            <div class="slds-form-element__control">
                <input type="number" id="fb-leadad-numberofshares" class="slds-input" placeholder="" />
            </div>
        </div>
    </div>

    <!--Likes-->
    <div class="page-setting-element">
        <fieldset class="slds-form-element">
            <legend class="slds-form-element__legend slds-form-element__label">Reactions</legend>
            <div class="slds-form-element__control">
                <div class="slds-grid">
                    <div class="slds-col">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-1"
                                value="fb_reaction_like" checked />
                            <label class="slds-checkbox__label" for="checkbox-likes-1">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_like.png" /></span>
                            </label>
                        </span>
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-2"
                                value="fb_reaction_haha" />
                            <label class="slds-checkbox__label" for="checkbox-likes-2">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_haha.png" /></span>
                            </label>
                        </span>

                    </div>

                    <div class="slds-col">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-3"
                                value="fb_reaction_love" checked />
                            <label class="slds-checkbox__label" for="checkbox-likes-3">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_love.png" /></span>
                            </label>
                        </span>
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-4"
                                value="fb_reaction_sad" />
                            <label class="slds-checkbox__label" for="checkbox-likes-4">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_sad.png" /></span>
                            </label>
                        </span>

                    </div>

                    <div class="slds-col">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-5"
                                value="fb_reaction_wow" />
                            <label class="slds-checkbox__label" for="checkbox-likes-5">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_wow.png" /></span>
                            </label>
                        </span>
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" class="fb-likes_checkboxes" id="checkbox-likes-6"
                                value="fb_reaction_angry" />
                            <label class="slds-checkbox__label" for="checkbox-likes-6">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label"><img class="fb-likes_icons"
                                        src="img/fb_reaction_angry.png" /></span>
                            </label>
                        </span>

                    </div>
                </div>

            </div>
        </fieldset>
    </div>
    <hr class="settingDividendLine" />
</div>