<div class="container page-settings">


    <!--Chat with Expert--->
    <%- include('../helper/inputtext', {id:'lc_chatwithexpert', placeholder:'Input to overwrite..', label:'Desktop Chat Button'})%>

        <!--CUSTOMER INFO-->
        <!--First Name--->
        <%- include('../helper/inputtext', {id:'lc_custfirstname', placeholder:'Please input..', label:'Customer\'s Firstname'})%>


            <!--Last Name--->
            <%- include('../helper/inputtext', {id:'lc_custlastname', placeholder:'Please input..', label:'Customer\'s Lastname'})%>


                <!--Email--->
                <%- include('../helper/inputtext', {id:'lc_custemail', placeholder:'Please input..', label:'Customer\'s Email'})%>
                    <!--EOF Email--->

                    <!--Subject--->
                    <%- include('../helper/inputtext', {id:'lc_custsubject', placeholder:'Please input..', label:'Customer\'s Subject'})%>



                        <!--Start Chatting Button--->
                        <%- include('../helper/inputtext', {id:'lc_startchatbtn', placeholder:'Input to overwrite..', label:'Start Chatting Button'})%>

                            <!--Background Image-->
                            <%- include('../helper/imagefileselector', {imageselectorlabel:'Header Background Image',imgInputId:'lc_headerbgimage',helptext:''}) %>

                                <!--Loading Page Headline-->
                                <%- include('../helper/inputtext', {id:'lc_loadingHeadline', placeholder:'Input to overwrite..', label:'Loading Page Headline'})%>


                                    <!--Agent Name-->
                                    <%- include('../helper/inputtext', {id:'lc_agentname', placeholder:'Please input..', label:'Agent Name'})%>

                                        <!--Agent Image-->
                                        <%- include('../helper/imagefileselector', {imageselectorlabel:'Agent Profile Image',imgInputId:'lc_agentimage',helptext:''}) %>



                                            <!--Time Setting-->


                                            <!--Text Color-->
                                            <fieldset class="slds-form-element">
                                                <legend class="slds-form-element__legend slds-form-element__label">Text Color</legend>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-radio_button-group" style="border:none">
                                                        <span class="slds-radio">
          <input type="radio" id="lc_textcolorblack" name="options" value="on" 
                 checked/>
          <label class="slds-radio__label" for="lc_textcolorblack">
            <span class="slds-radio_faux"></span>
                                                        <span class="slds-form-element__label">Black</span>
                                                        </label>
                                                        </span>
                                                        <span class="slds-radio">
          <input type="radio" id="lc_textcolorwhite" name="options" value="on" />
          <label class="slds-radio__label" for="lc_textcolorwhite">
            <span class="slds-radio_faux"></span>
                                                        <span class="slds-form-element__label">White</span>
                                                        </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <!--Button Color-->
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="text-input-id-1">Action Color</label>
                                                <div class="slds-form-element__control input-group colorpicker-component" id="cp2">
                                                    <button class="input-group-addon">
                <i style="height:25px;width:25px"></i>
            </button>
                                                    <input type="text" id="lc_actioncolorpicker" class="slds-input form-control" value="#85DDE8" />
                                                </div>
                                            </div>
</div>
