<div class="container page-settings">


    <!--Chat with Expert-->
        <%- include('../helper/inputtext', {id:'lc_chatwithexpertInput', placeholder:'Chat with an expert', label:'Desktop Chat Button'})%>

        <!--CUSTOMER INFO-->
        <!--First Name-->
        <%- include('../helper/inputtext', {id:'lc_fnameInput', placeholder:'Lauren', label:'Customer\'s Firstname'})%>

        <!--Last Name-->
        <%- include('../helper/inputtext', {id:'lc_lnameInput', placeholder:'Bailey', label:'Customer\'s Lastname'})%>

        <!--Email-->
        <%- include('../helper/inputtext', {id:'lc_emailInput', placeholder:'lbailey@example.com', label:'Customer\'s Email'})%>

        <!--Subject-->
        <%- include('../helper/inputtext', {id:'lc_subjectInput', placeholder:'Hello', label:'Customer\'s Subject'})%>

        <!--Start Chatting Button-->
        <%- include('../helper/inputtext', {id:'lc_startchatbtnInput', placeholder:'Start Chatting', label:'Start Chatting Button'})%>

        <!--Background Image-->
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Header Background Image',imgInputId:'lc_headerbgimageInput',helptext:''}) %>

        <!--Loading Page Headline-->
        <%- include('../helper/inputtext', {id:'lc_loadingHeadlineInput', placeholder:'Input to overwrite..', label:'Loading Page Headline'})%>

        <!--Agent Name-->
        <%- include('../helper/inputtext', {id:'lc_agentnameInput', placeholder:'Tim', label:'Agent Name'})%>

        <!--Agent Image-->
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Agent Profile Image',imgInputId:'lc_agentImageInput', helptext:'100 * 100 (.png .jpg .jpeg)'}) %>

        <!--Time Setting-->

        <!--Text Color-->
        <fieldset class="slds-form-element">
            <legend class="slds-form-element__legend slds-form-element__label">Text Color</legend>
            <div class="slds-form-element__control">
                <div class="slds-radio_button-group" style="border:none">
                    <span class="slds-radio">
                        <input type="radio" id="lc_textcolorblack" name="options" value="on" checked/>
                        <label class="slds-radio__label" for="lc_textcolorblack">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">Black</span>
                        </label>
                    </span>
                    <span class="slds-radio">
                        <input type="radio" id="lc_textcolorwhite" name="options" value="on" />
                        <label class="slds-radio__label" for="lc_textcolorwhite">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">White</span>
                        </label>
                    </span>
                </div>
            </div>
        </fieldset>

        <!--Button Color-->
        <div class="slds-form-element slds-m-bottom_x-small">
            <label class="slds-form-element__label" for="lc_colorInput">
                Action Color:
            </label>
            <div class="slds-form-element__control" style="display:flex">
                <input type='color' id="lc_colorInput" value="#85DDE8" />
                <input type='text'  id="lc_colorInputCode" value='#85DDE8' class="slds-m-left_x-small"/>
            </div>
        </div>
        

</div>
