<!-- views/facebook.ejs -->
<%- include('partials/header') %>
<title>mockup builder - facebook post</title>
<script src="js/pages/facebookPost.js"></script>
<link rel="stylesheet" type="text/css" href="css/pages/facebookPost.css">
<!-- Google Tag Manager (noscript) -->

<body>
    <%- include('partials/navbarHorizontal') %>
    <div class="pageLayoutContainer slds-grid">
        <div class="slds-col slds-size_3-of-5">
            <div class="page-content slds-align_absolute-center">
                <div>
                    <%- include('displays/facebookPostDisplay') %>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_2-of-5 page-rightbar">
            <div class="setting-container">
                <%- include('settings/facebookPostSettings') %>
                <div class="downloadButton-container slds-p-around_small">
                    <%- include('partials/downloadButton') %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>