<!-- views/facebook.ejs -->
<%- include('partials/header') %>
<title>mockup builder - facebook</title>
<!-- Google Tag Manager (noscript) -->

<body>
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-7">
            <%- include('partials/navbar') %>
        </div>
        <div class="slds-col slds-size_6-of-7 ">
            <%- include('partials/headerbar') %>
            <div class="slds-grid">
                <div class="slds-col slds-size_4-of-6 ">
                    <div class="page-content">
                        <div class="slds-align_absolute-center">
                            <%- include('displays/facebookDisplay') %>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-6 page-rightbar">
                    <%- include('settings/facebookSettings') %>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>

    <script>
        $(document).ready(function () {

            //SET PAGE NAME
            bindSettingAndDisplayTextField('fb-leadad-pagename', '#facebook_leadad-advertiserName');

            //SET POST TEXT
            bind_setPost_displayPost_withHashTag('fb-leadad-text', 'facebook_leadad_mobile-Ad-Text')
            //bindSettingAndDisplayTextField('fb-leadad-text', '#facebook_leadad_mobile-Ad-Text');

            //SET HEADLINE TEXT
            bindSettingAndDisplayTextField('fb-leadad-headline', '#facebook_leadad_mobile-Ad-Headline');

            //SET LINK DESCRIPTION TEXT
            bindSettingAndDisplayTextField('fb-leadad-linkdescription',
                '#facebook_leadad_mobile-Ad-LinkDescription');

            //SET CAPTION TEXT
            bindSettingAndDisplayTextField('fb-leadad-caption', '#facebook_leadad_mobile-Ad-Caption');

            //SET PAGE LOGO IMAGE
            $("#fb_setPageLogoImage").change(function () {
                readURL(this, $('#appLogo'));
            });

            //SET POST IMAGE
            $("#fb_setPostImage").change(function () {
                readURL(this, $('#postImage'));
            });

            //SET CALL TO ACTION
            $("#fb-leadad-cta").change(function () {
                $("#fb_lead_ad-CTA-button").html($("#fb-leadad-cta").val());
            });

            //SET NUMBER OF REACTIONS
            bindSettingAndDisplayTextField('fb-leadad-numberofreactions', '#fb-likes_number');

            //SET NUMBER OF COMMENTS
            bindSettingAndDisplayTextField('fb-leadad-numberofcomments', '#fb-comments_number');

            //SET NUMBER OF SHARES
            bindSettingAndDisplayTextField('fb-leadad-numberofshares', '#fb-shares_number');


            //SET CALL TO ACTION
            $(".fb-likes_checkboxes").change(function () {
                getCurrentSelectedReactions();
            });

            download_mockup_active();

            function getCurrentSelectedReactions() {
                let i = 0;
                const MAX_REACTION_NUMBERS = 3;
                let reactionIterationNumbers = 0;

                //GET SELECTED REACTION ICONS
                var reactionIconsContainer = $('#fb-likes_icons_container');
                var selectedReactionsElements = $('.fb-likes_checkboxes:checked');
                var selectedReactionsValues = [];

                for (i = 0; i < selectedReactionsElements.length; i++) {
                    selectedReactionsValues.push(selectedReactionsElements[i].value);
                }
                if (selectedReactionsValues.length > MAX_REACTION_NUMBERS) {
                    reactionIterationNumbers = MAX_REACTION_NUMBERS;
                } else {
                    reactionIterationNumbers = selectedReactionsValues.length;
                }

                // DISPLAY SELECTED REACTION ICONS
                reactionIconsContainer.empty();
                for (i = 0; i < reactionIterationNumbers; i++) {
                    reactionIconsContainer.append('<img class="fb-likes_icons" src="img/' +
                        selectedReactionsValues[
                            i] + '.png"/>');
                }
            }
        });
    </script>
</body>