<!-- views/livechat.ejs -->
<%- include('partials/header') %>
<title>mockup builder - livechat</title>

<body>
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-7">
            <%- include('partials/navbar') %>
        </div>
        <div class="slds-col slds-size_6-of-7 ">
            <%- include('partials/headerbar') %>
            <div class="slds-grid">
                <div class="slds-col slds-size_4-of-6 ">
                    <div class="page-content">
                        <div class="slds-align_absolute-center slds-grid">
                            <div class="slds-col slds-size--2-of-12" style="text-align:right;">
                                <i id="prevArrow" class="fas fa-arrow-left"></i>
                            </div>
                            <div class="slds-col slds-size--8-of-12">
                                <div class="slds-align_absolute-center">
                                    <%- include('displays/livechatDisplay') %>
                                </div>
                            </div>
                            <div class="slds-col slds-size--2-of-12" sytle="text-align:left;">
                                <i id="nextArrow" class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-6 page-rightbar">
                    <%- include('settings/livechatSettings') %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

<script>
    $(document).ready(function () {

        const MAX_LIVECHAT_SCREENS = 4;

        /* Display the 1st Screen */
        $('[name="livechatDisplay"]').hide();
        $('[data="1"]').show(); // Screen 1

        /* Setup the color picker */
        $('#lc_colorInput').change(function (event) {
            console.log('>> Live Chat: lc_colorInput onchange handling..');
            $('#lc_colorInputCode').attr('value', event.target.value);
            changeActionColor('.lc_actionColorElement', event.target.value);
        });
        $('#lc_colorInputCode').keyup(function (event) {
            console.log('>> Live Chat: lc_colorInputCode onchange handling..');
            $('#lc_colorInput').attr('value', event.target.value);
            changeActionColor('.lc_actionColorElement', event.target.value);
        });


        /*Input Binding Fields*/
        //SET CHAT BUTTON NAME (Screen1)
        bindSettingAndDisplayTextField('lc_chatwithexpertInput', '#lc_chatwithexpertDisplay');

        //SET CUSTOMER FIRSTNAME (Screen2)
        bindSettingAndDisplayInputField('lc_fnameInput', '#lc_fnameDisplay');

        //SET CUSTOMER LASTNAME (Screen2)
        bindSettingAndDisplayInputField('lc_lnameInput', '#lc_lnameDisplay');

        //SET CUSTOMER EMAIL (Screen2)
        bindSettingAndDisplayInputField('lc_emailInput', '#lc_emailDisplay');

        //SET CUSTOMER SUBJECT (Screen2)
        bindSettingAndDisplayInputField('lc_subjectInput', '#lc_subjectDisplay');

        //SET CUSTOMER START CHATTING BUTTON (Screen2)
        bindSettingAndDisplayTextField('lc_startchatbtnInput', '#lc_startchatbuttonDisplay');

        //SET CUSTOMER FIRSTNAME (Screen3)
        bindSettingAndDisplayTextField('lc_fnameInput', 'span[name="lc_fnameDisplaySpan"]');

        //SET AGENT NAME (Screen4)
        bindSettingAndDisplayTextField('lc_agentnameInput', '#lc_headerAgentNameDisplay');


        //SET AGENT IMAGE
        $("#lc_agentImageInput").change(function () {
            readURL(this, $('#lc_agentImageDisplay'));
        });

        //SET BACKGROUND IMAGE
        $("#lc_headerbgimageInput").change(function () {
            readURLAsBackground(this, $('.lc_largeheaderbar'));
        });

        //SET GENERAL THEME COLOR


        $('#nextArrow').click(function () {
            var currentPageId = $('#capture').attr('data');
            var currentPageIdIdx = parseInt(currentPageId);
            var nextPageIdIdx = currentPageIdIdx + 1;
            if (currentPageIdIdx === MAX_LIVECHAT_SCREENS) {
                nextPageIdIdx = 1;
            }
            console.log('current page idx: ' + currentPageIdIdx + ' next page idx: ' + nextPageIdIdx);
            showThisPage(nextPageIdIdx);
        });

        $('#prevArrow').click(function () {
            var currentPageId = $('#capture').attr('data');
            var currentPageIdIdx = parseInt(currentPageId);
            var prevPageIdIdx = currentPageIdIdx - 1;
            if (currentPageIdIdx === 1) {
                prevPageIdIdx = 4;
            }
            console.log('current page idx: ' + currentPageIdIdx + ' prev page idx: ' + prevPageIdIdx);
            showThisPage(prevPageIdIdx);
        });

        download_mockup_active();


        function showThisPage(pageIdx) {
            for (var i = 1; i <= MAX_LIVECHAT_SCREENS; i++) {
                $('[data="' + i + '"]').attr("id", "captureNotActive");
                $('[data="' + i + '"]').hide();
            }
            $('[data="' + pageIdx + '"]').attr("id", "capture");
            $('[data="' + pageIdx + '"]').show();
        };

        function changeActionColor(elementSelector, colorCode) {
            $(elementSelector).css('cssText', 'background:' + colorCode + ' !important');
        };

    });
</script>

<style>
    div.page-livechatscreen {
        background: white;
    }

    /**SMALL HEADER ICONS**/

    div.lc_smallheaderbar {
        position: absolute;
        height: 44px;
        width: 100%;
        top: 0%;
        /*border-radius: 10px 10px 0px 0px;*/
    }

    img.lc_smallHeaderImage {
        position: absolute;
        top: 15px;
        width: 90%;
    }

    /**SCREEN 2**/

    div.lc_smallheaderbar>span {
        font-weight: 400;
        color: white;
    }

    div.lc_userinputgroup {
        position: absolute;
        top: 10%;
        width: 100%;
        padding: 2% 5%;
    }

    div.lc_userinputgroup .slds-form-element {
        padding: 10px;
    }

    div.lc_userinputgroup .slds-form-element__label {
        font-size: 16px;
    }

    div.lc_userinputgroup .slds-input {
        line-height: 3rem;
        font-size: 1.5rem;
    }

    /**BUTTONS**/

    div.lc_bottombutton {
        position: absolute;
        bottom: 0px;
        margin-bottom: 24px;
        width: 272px;
        height: 44px;
        border-radius: 4px;
        font-size: .8125rem;
        font-weight: 400;
        font-family: Lato, sans-serif;
    }


    /**SCREEN 1**/

    div.lc_chatbutton {
        position: absolute;
        bottom: 0%;
        height: 12%;
        width: 64%;
        background: #85DDE8;
        border-radius: 10px 10px 0px 0px;
        left: 0;
        right: 0;
        margin: auto;
    }

    div.lc_chatbutton>span {
        padding-left: 2%;
        font-size: 12px;
        font-family: "Arial Black", Gadget, sans-serif;
    }

    #lc_colorInput {
        width: 35px;
        height: 35px;
    }


    /*--BACKGROUND COLORS--*/

    div.defaultBlackBg {
        background-color: #333333;
    }

    div.defaultbackground {
        background-color: lightgray;
    }

    .activebackground {
        background-color: #85dde8;
    }

    /**SCREEN 3**/

    div.lc_chatuserscreen {
        height: 100%;
        width: 100%;
    }

    div.lc_largeheaderbar {
        position: absolute;
        height: 40%;
        width: 100%;
        top: 0%;
        /* border-radius: 10px 10px 0px 0px; */
    }


    div.lc_loadingdots {
        position: absolute;
        top: 63.5%;
    }

    div.circle {
        border-radius: 50%;
        margin: 2px;
    }

    div.lc_circle-md {
        width: 15px;
        height: 15px;
    }

    div.lc_circle-sm {
        width: 10px;
        height: 10px;
    }

    div.lc_headerGreetingTitle {
        font-family: "Arial", Gadget, sans-serif;
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        top: 50px;
    }

    div.lc_headerGreetingMessage {
        font-family: "Arial", Gadget, sans-serif;
        font-size: 13px;
        font-weight: 500;
        position: absolute;
        top: 140px;
    }

    div.lc_headerProfilePhoto {
        position: relative;
        margin-top: 15px;
        height: 45px;
        width: 45px;
        background: white;
        border-radius: 50%;
    }

    div.lc_headerProfilePhoto>img {
        position: absolute;
        height: inherit;
        width: inherit;
        top: 0%;
        left: 0%;
        border-radius: inherit;
    }

    .screenholder {
        min-width: 560px;
        overflow: hidden;
    }
</style>