<!-- views/livechat.ejs -->


<head>
    <meta charset="utf-8">
    <title>LIVE CHAT MOCKUP</title>
</head>


<div class="slds-grid">
    <div class="slds-col slds-size_1-of-7">
        <%- include('partials/navbar') %>
    </div>
    <div class="slds-col slds-size_4-of-7 ">
        <%- include('partials/header') %>
            <div class="slds-align_absolute-center">
                <%- include('displays/livechatDisplay1') %>
            </div>

            <div class="slds-align_absolute-center">
                <%- include('displays/livechatDisplay2') %>
            </div>
        
            <div class="slds-align_absolute-center">
                <%- include('displays/livechatDisplay3') %>
            </div>
    </div>
    <div class="slds-col slds-size_2-of-7 page-rightbar">
        <%- include('settings/livechatSettings') %>
    </div>

</div>


<script>
    $(document).ready(function() {

        $('#cp2').colorpicker();

        /*Input Headline*/
        $("#headlineInput").keypress(function() {
            $("#headline").html($("#headlineInput").val());
        });
    });

</script>

<style>
    

    div.page-livechatscreen {
        border: 1px solid black;
    }
    
    /**SMALL HEADER ICONS**/
    div.lc_smallheaderbar {
        position: absolute;
        height: 9%;
        width: 100%;
        top: 0%;
        border-radius: 10px 10px 0px 0px;
    }
    
    img.lc_smallHeaderImage {
        position:absolute;
        top:30px;
    }

    /**SCREEN 2**/
    div.lc_smallheaderbar>span {
        font-weight: 600;
    }
    
    div.lc_userinputgroup {
        position: absolute;
        top:11%;
        width: 100%;
        padding: 2% 5%;
    }
    div.lc_userinputgroup .slds-form-element {
        padding: 15px;
    }
    
    div.lc_userinputgroup .slds-form-element__label {
        font-size:1.5rem;
    }
    
    div.lc_userinputgroup .slds-input{
       line-height: 4rem;
       font-size: 2rem;
    }
    
    /**BUTTONS**/
    
    div.lc_bottombutton {
        position:absolute;
        bottom:5%;
        width:90%;
        height:8.5%;
        border-radius:10px;
        font-size:1.6rem;
        font-weight:600;
    }
    
    /**SCREEN 1**/
    div.lc_chatbutton {
        position: absolute;
        bottom: 0%;
        height: 12%;
        width: 64%;
        background: #85DDE8;
        border-radius: 10px 10px 0px 0px;
    }

    div.lc_chatbutton>span {
        padding-left: 4%;
        font-size: 1.3rem;
        font-family: "Arial Black", Gadget, sans-serif;
    }
    
    
    /*--BACKGROUND COLORS--*/
    div.defaultbackground {
        background-color:lightgray;
    }
    
    .activebackground {
        background-color:#85dde8;
    }   
    
    /**SCREEN 3**/
    

</style>
