<!-- views/notifications.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>NOTIFICATION MOCKUP</title>

    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .ctn--displaypanel {

            position: relative;
            width: 375px;
            /** width: 750px; **/
            height: 667px;
            /** height: 1334px; **/
            overflow: hidden;
            background-image: url("img/Lock_Screen_Background.png");
            background-size: cover;
        }

        .dateTimeDisplay {
            text-align: center;
            position: absolute;
            margin-top: 60px;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            font-weight: 200;
            color: white;
        }

        .time {
            font-size: 65px;
        }

        .date {
            font-size: 20px;
            margin-top: -12px;
        }

        .notificatondisplay {
            position: absolute;
            margin-top: 190px;
            margin-left: 10px;
            width: calc(100% - 20px);
            padding: 10px 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            font-size: 0.825rem;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            white-space: nowrap;

        }

        span.wraptext {
            overflow: break-word;
            text-wrap: break-word;
            white-space: initial;
            hyphens: auto;
        }

        span.uppercase {
            text-transform: uppercase;
        }

        span.notificationBar {
            color: rgba(0, 0, 0, 0.9);
            vertical-align: middle;
        }

        div#notificationAppLogo {
            width: 25px;
            height: 25px;
            display: block;
            position: relative;
            overflow: hidden;
            padding: 0px;
        }

        div#notificationAppLogo img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 5px;
        }

        div#notificationAppName {
            /* Reduce the default left/right padding on div 15px->5px */
            padding: 0px 5px;
        }

        div#notificationTime {
            text-align: right;
        }

        div#notificationMessage {
            /* Add extra padding above notification message */
            padding-top: 10px;
        }

    </style>
</head>

<body>
    <div>
        <%- include('partials/header') %>
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-12">
                    <%- include('partials/navbar') %>
                </div>

                <!--LEFT COLUMN-->
                <div class="slds-col slds-size_6-of-12">
                    <%- include('notification/notificationSettings') %>
                </div>
                
                <div class="slds-col slds-size_5-of-12">
                    <!--RIGHT COLUMN (Display) -->
                    <%- include('notification/notificationDisplay') %>
                </div>
            </div>
            <%- include('partials/footer') %>
    </div>

    <script>
        function setDatePicker(input, output) {
            input.datepicker({
                format: "DD, dd MM",
                maxViewMode: 2,
                autoclose: true
            });

            input.on('change', function() {
                output.html(input.val());
            });
        }

        function getTime(inputHour, inputMin) {
            const selectedHour = inputHour.val();
            const selectedMin = inputMin.val();
            const d = selectedHour + ':' + selectedMin;
            return d;
        }


        $(document).ready(function() {

            //DISPLAY TODAYS DATE - USING HELPER FUNCTION
            displayTodayDate($('#datedisplay'));

            //DISPLAY DYNAMIC SETTING DATE - USING LOCAL FUNC
            setDatePicker($('#setDate'), $('#datedisplay'));

            //DISPLAY DYNAMIC SETTING TIME - USING LOCAL FUNC
            $('.setTimeSelectorGroup').on('change', function() {
                $('#timedisplay').html(getTime($('#setHourSelector'), $('#setMinuteSelector')));
            });

            //DISPLAY DYNAMIC SETTING APP NAME
            $("#no_setAppName").on('keyup', function() {
                $("#notificationTitleSpan").html($("#no_setAppName").val());
            });

            //DISPLAY DYNAMIC UPLOAD APP LOGO IMAGE
            $("#setLogo").change(function() {
                readURL(this, $('#appLogo'));
            });

            //DISPLAY DYNAMIC NOTIFICATION MESSAGE
            $("#no_setNotification").on('keyup', function() {
                $("#notificationMessageSpan").html($("#no_setNotification").val().replace(/\r?\n/g, '<br/>'));
            });
        });

    </script>
</body>

</html>
