<!-- views/notifications.ejs -->
<%- include('partials/header') %>
<title>Push Notification | Mockup Builder</title>

<link rel="stylesheet" type="text/css" href="css/pages/notification.css">
<script src="js/pages/notification.js"></script>

<body>

    <%- include('partials/navbarHorizontal') %>
    <div class="pageLayoutContainer slds-grid">
        <div class="slds-col slds-size_3-of-5">
            <div class="page-content slds-align_absolute-center">
                <div>
                    <%- include('displays/notificationDisplay') %>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_2-of-5 page-rightbar">
            <div class="setting-container">
                <%- include('settings/notificationSettings') %>
                <div>
                    <%- include('partials/downloadButton') %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>

</body>